<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="KINESIS" class="com.example.kinesislogger.logback.KinesisAppender">
        <bufferSize>1000</bufferSize>
        <threadCount>20</threadCount>
        <maxRetries>3</maxRetries>
        <shutdownTimeout>30</shutdownTimeout>
        <streamName>log_stream_test</streamName>
        <region>ap-northeast-2</region>
        <encoding>UTF-8</encoding>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%m</pattern>
        </layout>
    </appender>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%5p [%t] (%F:%L) - %m%n</pattern>
        </encoder>
    </appender>
    <logger name="KinesisLogger" additivity="false" level="INFO">
        <appender-ref ref="KINESIS"/>
    </logger>
    <root level="INFO">
        <appender-ref ref="stdout"/>
    </root>
</configuration>
