<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true"  scanPeriod="60 seconds">

    <appender name="KINESIS" class="com.example.kinesislogger.logback.KinesisAsyncAppender">
        <bufferSize>1</bufferSize>
        <threadCount>20</threadCount>
        <maxRetries>3</maxRetries>
        <shutdownTimeout>30</shutdownTimeout>
        <streamName>log_stream_test</streamName>
        <region>ap-northeast-2</region>
        <encoding>UTF-8</encoding>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%m</pattern>
        </layout>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [${HOSTNAME}] [%-5level] %logger{35}:%L - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org" additivity="false">
        <level value="INFO" />
        <appender-ref ref="CONSOLE" />
    </logger>

    <logger name="com.example.kinesislogger" additivity="false" level="INFO">
        <appender-ref ref="KINESIS"/>
        <appender-ref ref="CONSOLE" />
    </logger>

    <logger name="com.amazonaws.services.kinesis" additivity="false" level="DEBUG">
        <appender-ref ref="CONSOLE" />
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
